<div class="container">
  <h1>{{title}}</h1>
  <div class="texto">
    <h5 appResaltado>Esta es la página de contacto Puedes enviarnos cualquier duda</h5>
  </div>
</div>
















  <!--div class="" *ngIf="!AnchuraToSlider">
    <label>Tamaño del slider</label>
    <input type="number" class="form-control" [(ngModel)]="widthSlier" name="">
    <button type="button" name="button" (click)="cargarSlider()">Enviar</button>
  </div>

<div class="" *ngIf="AnchuraToSlider">
  <slider [anchura]="AnchuraToSlider" (conseguirAutor)="getAutor($event)"></slider>
</div>

<div class="data" *ngIf="autor">
  <h3>{{autor.nombre}}</h3>
  <p>{{autor.email}}</p>
  <p>{{autor.nick}}</p>
</div-->
